{% extends 'base.html' %}
<!-- Extends the base template 'base.html', allowing reuse of its structure -->

{% block title %}Home{% endblock %}
<!-- Defines the title for this page, replacing the 'title' block in 'base.html' -->

{% block content %}
    <!-- Defines the 'content' block that will replace the corresponding block in 'base.html' -->

    <p>Welcome to the home page!</p> 
    <!-- Displays a welcome message -->

    <p>Here is a list of some of the things you can do:</p> 
    <!-- Provides an introduction to the features or options available on this page -->

{% endblock %}
<!-- Ends the 'content' block -->
