{% extends 'base.html' %}
<!-- Extends the base template 'base.html', allowing reuse of its structure -->

{% block title %}Index{% endblock %}
<!-- Defines the title for this page, replacing the 'title' block in 'base.html' -->

{% block content %}
    <!-- Defines the 'content' block that will replace the corresponding block in 'base.html' -->

    <p>This an index  home page!</p> 
    <!-- Displays a welcome message -->

    <p>Nice to see you man,how are you ?</p> 
    <!-- Provides an introduction to the features or options available on this page -->

{% endblock %}
<!-- Ends the 'content' block -->
